spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.app: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
